In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler, StandardScaler,OneHotEncoder, LabelEncoder
from sklearn.model_selection import train_test_split
import yellowbrick as yl
import joblib
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import mean_squared_error
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix
from sklearn.ensemble import AdaBoostClassifier
from sklearn import metrics

In [22]:
### LOADING DATASET#####
fraud_data = pd.read_csv("transaction_records.csv")
fraud_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1910 entries, 0 to 1909
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   surname                 1910 non-null   object
 1   name                    1910 non-null   object
 2   Sender_account          1910 non-null   int64
 3   Receiver_account        1910 non-null   int64
 4   Transaction_amount      1910 non-null   float64
 5   Old Balance             1910 non-null   float64
 6   NewBalance              1910 non-null   float64
 7   Payment_currency        1910 non-null   object
 8   Received_currency       1910 non-null   object
 9   Sender_bank_location    1910 non-null   object
 10  Receiver_bank_location  1910 non-null   object
 11  Payment_type            1910 non-null   object
 12  FraudResult             1910 non-null   int64
 13  Laundering_type,        1910 non-null   object
dtypes: float64(3), int64(3), object(8)
memory usage: 209.0+ KB

In [23]:
fraud_data.head()

,surname,name,Sender_account,Receiver_account,Transaction_amount,Old Balance,NewBalance,Payment_currency,Received_currency,Sender_bank_location,Receiver_bank_location,Payment_type,FraudResult,"Laundering_type,"
0,Chinhava,Samuel,8197072010,9461146315,9487.08,20414.00,10926.92,us dollar,US dollar,ZIM,Singapore,Cross-border,1,"Behavioural_Change_2,"
1,Chombo,Felicia,5021785800,4065028145,7734.86,75003.27,67268.41,us dollar,US dollar,ZIM,Singapore,Cross-border,0,"Normal_Fan_Out,"
2,Domboka,Linda,3651814546,9273258089,4235.20,9045.00,4809.80,us dollar,US dollar,ZIM,Singapore,Cash Withdrawal,1,"Cash_Withdrawal,"
3,Dongo,Stephanie,3651814546,9273258089,9745.40,49692.00,39946.60,us dollar,US dollar,ZIM,Singapore,Cash Withdrawal,1,"Cash_Withdrawal,"
4,Fuzani,Dawn,3885905606,933899052,1874.64,50901.00,49026.36,us dollar,US dollar,ZIM,Singapore,Cross-border,1,"Behavioural_Change_1,"

In [24]:
fraud_data.isna().sum()

surname                   0
name                      0
Sender_account            0
Receiver_account          0
Transaction_amount        0
Old Balance               0
NewBalance                0
Payment_currency          0
Received_currency         0
Sender_bank_location      0
Receiver_bank_location    0
Payment_type              0
FraudResult               0
Laundering_type,          0
dtype: int64

In [25]:
fraud_data.columns

Index(['surname ', 'name ', 'Sender_account', 'Receiver_account',
       'Transaction_amount', 'Old Balance', 'NewBalance', 'Payment_currency',
       'Received_currency', 'Sender_bank_location', 'Receiver_bank_location',
       'Payment_type', 'FraudResult', 'Laundering_type,'],
      dtype='object')

In [26]:
## lets drop customer names
fraud_data.drop(['surname ','name ','Sender_account','Receiver_account'], axis=1, inplace= True)

In [27]:
fraud_data.head(4)

,Transaction_amount,Old Balance,NewBalance,Payment_currency,Received_currency,Sender_bank_location,Receiver_bank_location,Payment_type,FraudResult,"Laundering_type,"
0,9487.08,20414.00,10926.92,us dollar,US dollar,ZIM,Singapore,Cross-border,1,"Behavioural_Change_2,"
1,7734.86,75003.27,67268.41,us dollar,US dollar,ZIM,Singapore,Cross-border,0,"Normal_Fan_Out,"
2,4235.20,9045.00,4809.80,us dollar,US dollar,ZIM,Singapore,Cash Withdrawal,1,"Cash_Withdrawal,"
3,9745.40,49692.00,39946.60,us dollar,US dollar,ZIM,Singapore,Cash Withdrawal,1,"Cash_Withdrawal,"

In [28]:
lebel = LabelEncoder()
fraud_data['Payment_currency'] = lebel.fit_transform(fraud_data['Payment_currency'].astype(str))
fraud_data['Received_currency'] = lebel.fit_transform(fraud_data['Received_currency'].astype(str))
fraud_data['Sender_bank_location'] = lebel.fit_transform(fraud_data['Sender_bank_location'].astype(str))
fraud_data['Receiver_bank_location'] = lebel.fit_transform(fraud_data['Receiver_bank_location'].astype(str))
fraud_data['Payment_type'] = lebel.fit_transform(fraud_data['Payment_type'].astype(str))
fraud_data['Laundering_type,'] = lebel.fit_transform(fraud_data['Laundering_type,'].astype(str))

In [29]:
X = fraud_data.drop('FraudResult', axis=1)
y = fraud_data['FraudResult']

In [30]:
X['Old_Balance'] = X['Old Balance']
X.drop('Old Balance', axis=1, inplace=True)

In [31]:
print(fraud_data['Sender_bank_location'].unique())

[20  0 11 17  2 21  3 19 15 18 14 22  7 13 16  9 12  4  8  1  6  5 10]

In [32]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [33]:
standardscaler = StandardScaler()

X_train = standardscaler.fit_transform(X_train)
X_test = standardscaler.fit_transform(X_test)

In [34]:
#### BUILDING model
RF = RandomForestClassifier()
model= RF.fit(X_train,y_train)
y_pred = model.predict(X_test)
y_pred

array([1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0,
       1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1,
       0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0,
       0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1,
       1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1,
       0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0,
       1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1,
       1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0,
       0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0,
       1, 0, 0, 1, 1, 1, 1, 0], dtype=int64)

In [35]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9947643979057592

In [36]:
### Building predictive system

input_data = (7000, 200, 7200, 4, 2, 2, 4, 3, 10)

input_data_as_numpy_array = np.asarray(input_data)

input_data_reshaped = input_data_as_numpy_array.reshape(1, -1)

prediction =model.predict(input_data_reshaped)

print(prediction)

if(prediction[0]==0):
    print("The transaction is not fraudulent")
else:
    print("The transaction is Fraudulent")

[1]
The transaction is Fraudulent

In [37]:
import pickle

file = "RFmodel.sav"
pickle.dump(model,open(file, 'wb'))

In [38]:
X.columns

Index(['Transaction_amount', 'NewBalance', 'Payment_currency',
       'Received_currency', 'Sender_bank_location', 'Receiver_bank_location',
       'Payment_type', 'Laundering_type,', 'Old_Balance'],
      dtype='object')